# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/vendor
/.idea
/testdata/data
/.env
/tests/offline.mp3
/temp/data/dd58c37583bf7e778bf63c2853b5095a
